.foot-nav{
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
}

.foot-nav ul{
    display: flex;
    gap: 30px;
}

.foot-nav ul li{
    list-style-type: none;
}

.foot-nav-logo{
    font-size: 20px;
    font-weight: 500;
}

/* @media (max-width:730px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: start;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
} */