.foot-nav{
    padding: 20px 5px 60px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
}

.foot-nav ul{
    display: flex;
    gap: 30px;
}

.foot-nav ul li{
    list-style-type: none;
}

.foot-nav-logo{
    font-size: 30px;
    letter-spacing: 0.09em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.nav-item{
    color: #fff;
    font-size: 15px;
    font-weight: 100;
}

.foot-logo{
    margin-right: 1em;
}

/* @media (max-width:730px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: start;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
} */