body{
    margin: 0;
}

.pt{
    padding-top: 2em;
}

.pb{
    padding-bottom: 2em;
}

.container{
    width: 92%;
    margin: auto;
    height: 100%;
}

*{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

@media (min-width:1200px) {
    .container{
        width: 1140px;
    }
}

