*{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

.container{
    width: 92%;
    margin: auto;
    height: 100%;
}

@media (min-width:1200px) {
    .container{
        width: 1140px;
    }
}

body{
    margin: 0;
}

.pt{
    padding-top: 2em;
}

.pb{
    padding-bottom: 2em;
}

.light-text{
    font-weight: 300;
}

.heading-color{
    border: 1px solid #b9ff66;
    border-radius: 10px;
    padding: 0px 5px;
    background-color: #b9ff66;
    font-weight: 500;
}


