main{
    display: grid;
    grid: auto-flow min-content / repeat(12,1fr);
    gap: 1em;
}

.start{
    grid-column-start: 1;
    grid-column-end: 6;
}

.main-img{
    grid-column: 7 / 13;
}

.service-section{
    display: grid;
    grid: auto-flow min-content / repeat(12,1fr);
    gap: 1em;
}

.service-text{
    grid-column: 2 / 7;
}

.six-cards .first-sect{
    display: grid;
    grid: auto-flow min-content / repeat(12,1fr);
    gap: 1em;
}

.card-one{
    grid-column: 1 / 6;
}

.card-two{
    grid-column: 7 / 13;
}

.six-cards .second-sect{
    display: grid;
    grid: auto-flow min-content / repeat(12,1fr);
    gap: 1em;
}

.card-three{
    grid-column: 1 / 6;
}

.card-four{
    grid-column: 7 / 13;
}

.six-cards .third-sect{
    display: grid;
    grid: auto-flow min-content / repeat(12,1fr);
    gap: 1em;
}

.card-five{
    grid-column: 1 / 6;
}

.card-six{
    grid-column: 7 / 13;
}

.case-section{
    display: grid;
    grid: auto-flow min-content / repeat(6,1fr);
    gap: 1em;
}

.case{
    grid-column: 1 / 3;
}

.case-text{
    grid-column: 2/4;
}

.pricing-section{
    display: grid;
    grid: auto-flow min-content / repeat(4,1fr);
    gap: 1em;
}

.process{
    grid-column: 1 / 2;
}

.process-text{
    grid-column: 2/4;
}

.blog-section{
    display: grid;
    grid: auto-flow min-content / repeat(12,1fr);
    gap: 1em;
}

.blog-text{
    grid-column: 2 / 6;
}