main{
    padding-top: 4em;
    letter-spacing: 0.09em;
}

.main-btn{
    border-radius: 10px;
    padding: 20px 30px;
    width: 15em;
    color: #F3F3F3;
    background-color: #191A23;
    font-weight: 100;
    cursor: pointer;
}

.main-h1{
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.009em;
    line-height: 50px;
    padding-bottom: 30px;
}

.main-p{
    padding-bottom: 40px;
    font-weight: 100;
    line-height: 1.5em;
}

.me-5{
    padding-right: 60px;
}
