*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
}

.navbar ul{
    display: flex;
    gap: 30px;
}

.navbar ul li{
    list-style-type: none;
}

.anchor{
    text-decoration: none;
    color: black;
}

.nav-logo{
    font-size: 20px;
    font-weight: 500;
}

.Request{
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 10px;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: black;
    font-size: 30px;
}

@media (max-width:730px) {
    .navbar ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: start;
        gap: 0;
        overflow: hidden;
    }
    .navbar ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}